{% extends "base.html" %}
{% load i18n content_tags %}

{% block title %}{% translate "Care Instructions" %} - Tetote{% endblock %}

{% block content %}
<div class="max-w-[800px] mx-auto markdown-content">
    {% include_content "care_instructions" %}

    <div class="mt-12 pt-8 border-t border-brand-border">
        <p class="text-brand-muted">
            {% translate "Want to learn more about the unique features of our ceramics?" %}
            <a href="{% url 'shop:product_characteristics' %}" class="underline underline-offset-4 hover:opacity-70 transition-opacity">
                {% translate "View Product Characteristics" %}
            </a>
        </p>
    </div>
</div>
{% endblock %}
